<div class="custom-navbar">
    <button
        id="add"
        class="nav-button"
        [style.height]="draggable.navButtonSize + 'px'"
        [style.width]="draggable.navButtonSize + 'px'"
        (mousedown)="onAddTask($event)"
    >
        +
    </button>
    <button
        id="delete"
        class="nav-button"
        [style.height]="draggable.navButtonSize + 'px'"
        [style.width]="draggable.navButtonSize + 'px'"
    >
        -
    </button>
    <button
        class="nav-button"
        [style.height]="draggable.navButtonSize + 'px'"
        [style.width]="draggable.navButtonSize + 'px'"
        (click)="onSaveClick()"
    >
        S
    </button>
    <button
        class="nav-button"
        [style.height]="draggable.navButtonSize + 'px'"
        [style.width]="draggable.navButtonSize + 'px'"
        (click)="openDesksList()"
    >
        ...
    </button>
    <button
        class="nav-button"
        [style.height]="draggable.navButtonSize + 'px'"
        [style.width]="draggable.navButtonSize + 'px'"
        (click)="logout()"
    >
        ↦
    </button>
</div>
