<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1 class="display-4">Note your mind!</h1>
                <p class="lead">
                    How often did you forget something? This app can help you to
                    "note" your mind!
                </p>
                <hr class="my-4" />
                <p class="lead">
                    <a
                        class="btn btn-primary btn-lg"
                        href="#"
                        routerLink="/desks"
                        role="button"
                        >Start</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
