.delete-block {
    overflow: hidden
}

.delete-block:hover .delete-btn {
    right: 20px;
}

.preview-title {
    padding-right: 0;
    position: relative;
    transition: padding .2s;
}

.delete-btn {
    position: absolute;
    right: -30px;
    transition: all .2s;
    opacity: .5;
    cursor: pointer;
}

.delete-btn:hover {
    opacity: 1;
}

.delete-btn:active {
    opacity: .7;
}
