<div class="container">
    <div class="card">
        <div class="card-header">
            Choose desk
        </div>
        <ul class="list-group list-group-flush">
            <li
                class="list-group-item delete-block"
                *ngFor="let desk of desks; let i = index"
            >
                <a
                    [routerLink]="'desk/' + desk._id.toString()"
                    href="#"
                    class="main-link"
                    >{{ desk.name }}
                </a>
                <span
                    class="badge badge-danger delete-btn"
                    (click)="onDeleteClick(i)"
                    >&times;</span
                >
            </li>
        </ul>
        <div class="card-body">
            <nym-add-line (addLine)="addLine($event)"></nym-add-line>
        </div>
    </div>
</div>
