<div class="container">
    <div class="card">
        <div class="card-header">
            Choose desk
        </div>
        <ul class="list-group list-group-flush">
            <li
                class="list-group-item delete-block"
                *ngFor="let desk of desks; let i = index"
            >
                <div class="d-flex justify-content-between align-items-center">
                    <a
                        [routerLink]="'desks/' + desk._id.toString()"
                        href="#"
                        class="main-link"
                        >{{ desk.name }}
                    </a>
                    <nym-delete-button
                        (click)="onDeleteClick(i)"
                    ></nym-delete-button>
                </div>
            </li>
        </ul>
        <div class="card-body">
            <nym-add-line (addLine)="addLine($event)"></nym-add-line>
        </div>
    </div>
</div>
