<nym-navbar></nym-navbar>
<div
    class="card"
    *ngFor="let card of taskCards; let i = index"
    [style.position]="'absolute'"
    [style.width]="cardWidth + 'px'"
    [style.top]="card.top"
    [style.left]="card.left"
    [style.zIndex]="card.zIndex ? card.zIndex : ''"
    [style.opacity]="card.opacity ? card.opacity : 1"
    [id]="card.id"
>
    <div class="card-header" (mousedown)="onMouseDown($event, i)">
        {{ card.name }}
    </div>
    <nym-task [tasks]="card.tasks"> </nym-task>
</div>
