<nym-navbar></nym-navbar>
<div
    class="card"
    *ngFor="let card of taskCards; let i = index"
    [style.position]="'absolute'"
    [style.width]="cardWidth + 'px'"
    [style.top]="card.top"
    [style.left]="card.left"
    [style.zIndex]="card.zIndex ? card.zIndex : ''"
    [style.opacity]="card.opacity ? card.opacity : 1"
    [id]="card._id"
>
    <div class="card-header">
        <div class="input-group">
            <input
                type="text"
                class="form-control-plaintext"
                [value]="card.name"
            />
            <div class="input-group-append">
                <span
                    class="input-group-text"
                    id="connection--button"
                    (click)="onConnectClick($event, i)"
                    >⇿</span
                >
            </div>
            <div class="input-group-append">
                <span
                    class="input-group-text"
                    id="drag--button"
                    (mousedown)="onMouseDown($event, i)"
                    >⤲</span
                >
            </div>
        </div>
    </div>
    <nym-task [tasks]="card.tasks"></nym-task>
    <div class="card-body">
        <nym-add-line (addLine)="addLine($event, i)"></nym-add-line>
    </div>
</div>
