<ul class="list-group list-group-flush">
    <div *ngFor="let task of tasks; let i = index">
        <li class="list-group-item delete-block">
            <div class="d-flex justify-content-between align-items-center">
                <input
                    type="text"
                    class="form-control-plaintext input-block"
                    [value]="task.name"
                />
                <span class="badge badge-secondary date-block"
                    >{{ task.date | date }}
                </span>
                <nym-delete-button
                    class="delete-button"
                    (click)="onDeleteClick(i)"
                ></nym-delete-button>
            </div>
        </li>
    </div>
</ul>
