<form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
        <input
            type="text"
            class="form-control"
            [class.is-invalid]="form.get('title').invalid && submited"
            [formControlName]="'title'"
            placeholder="Name"
        />
        <div class="invalid-feedback">
            <span *ngIf="getErrors('title')?.required">Required</span>
        </div>
    </div>
    <div *ngIf="isWithDate" class="form-group">
        <input type="date" class="form-control" formControlName="date" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">
            Add
        </button>
    </div>
</form>
