<svg id="svg_layout">
    <line
        class="line"
        [id]="'id' + connection._id"
        *ngFor="let connection of connectedTaskCards; let i = index"
        [attr.x1]="connection.coords1.left"
        [attr.y1]="connection.coords1.top"
        [attr.x2]="connection.coords2.left"
        [attr.y2]="connection.coords2.top"
        [style.stroke]="connection.color"
    />
    <line
        class="line-helper"
        [id]="'id' + connection._id"
        *ngFor="let connection of connectedTaskCards; let i = index"
        [attr.x1]="connection.coords1.left"
        [attr.y1]="connection.coords1.top"
        [attr.x2]="connection.coords2.left"
        [attr.y2]="connection.coords2.top"
        (click)="onLineClick(i)"
    />
</svg>
